In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv("C:/Users/Cheenu/Documents/DATA SCIENCE/President Heights/president_heights.csv")
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183